@use '../abstracts/variables' as *;

.markets {
  flex-grow: 0;
  &__masthead {
    padding: 3rem 0;
  }

  .panel + .panel {
    margin-top: 0;
  }

  &__back {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__arrow {
    height: 1.25rem;
    width: 1.25rem;
  }

  .market-rates {
    &__section {
      &__labels-holder {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    .market-rates__section + .market-rates__section {
      margin-top: 1.25rem;
    }
  }

  .market-rate-model {
    display: flex;

    &__rates-section {
      width: 25%;

      &__labels-holder {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 3.125rem;
        gap: 0.5rem;

        &--loading {
          height: 3.25rem;
        }
      }

      .market-rate-model__rates-section__labels-holder + .market-rate-model__rates-section__labels-holder {
        margin-top: 1.25rem;
      }
    }

    &__graph-section {
      width: 75%;
    }

    .market-rates__section + .market-rates__section {
      margin-top: 1.25rem;
    }

    @media (max-width: $device--sm) {
      flex-direction: column;

      &__rates-section {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 2rem;

        .market-rate-model__rates-section__labels-holder + .market-rate-model__rates-section__labels-holder {
          margin-top: 0;
        }
      }

      &__graph-section {
        width: 100%;
      }
    }
  }

  @media (max-width: $device--sm) {
    &__masthead {
      padding-top: 1.75rem;
    }

    .panel + .panel {
      margin-top: 0rem;
    }

    .market-rates {
      .grid-container--6 {
        row-gap: 0.75rem;
      }
    }
  }
}

.token-pair {
  align-items: flex-start;
  display: flex;
  margin-bottom: 40px;

  &__icons {
    padding-top: 7px;
  }

  &__info {
    margin-left: 12px;
  }

  &__names {
    color: var(--text--1);
    margin: 0;

    &__divider {
      color: var(--text--2);
      margin: 0 0.5rem;
    }

    &__chain-name {
      color: var(--text--2);
    }
  }

  &__address {
    align-items: center;
    color: var(--text--2);
    display: flex;
    text-transform: none;

    .line-icon {
      margin-left: 5px;
      .svg {
        height: 0.875rem;
        width: 0.875rem;
      }
    }
  }

  @media (max-width: $device--sm) {
    flex-direction: column;
    margin-bottom: 0;

    &__info {
      margin-left: 0;
    }
  }
}

.split-panels {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__item {
    width: 46%;
  }

  @media (max-width: $device--sm) {
    justify-content: center;

    .split-panels__item {
      width: 100%;
      margin-top: 2rem;
    }
  }
}
