@use '../abstracts/variables' as *;

.bulk-transaction {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: -0.75rem;
    bottom: -0.75rem;
    left: -1.25rem;
    right: -1.25rem;
    background: var(--ui--foreground--2);
    border-radius: 0.5rem;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover::before {
    opacity: 1;
  }

  &__actions {
    margin-left: 1.25rem;

    &__item {
      display: flex;
      align-items: center;
    }

    .graph-stem {
      margin-top: -0.22rem; // TODO-check svg export to remove this line
    }

    .graph-end {
      margin-top: -0.05rem;
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      &__sub-icon-holder {
        position: relative;
        margin-left: 0.5rem;
        width: 1.75rem;
        display: flex;
        align-items: center;

        .asset {
          width: 1rem;
          height: 1rem;
        }

        .svg {
          background-color: var(--ui--foreground--1);
          border-radius: 50%;
          left: 0.75rem;
          position: absolute;
          width: 1rem;
          height: 1rem;
          border: 0.15rem solid var(--ui--background);
          box-sizing: content-box;
        }
      }

      .meta + .meta {
        margin-top: 0;
      }
    }
  }
}
