@use '../abstracts/variables' as *;
@use 'sass:color';

button,
.button {
  align-items: center;
  background-color: var(--button--neutral);
  border: 0.5px solid var(--button--neutral);
  border-radius: 3.625rem;
  color: var(--text--button-label);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.84375rem 0;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  transition: background-color 0.25s ease, height 0.25s ease;
  min-width: 6.45rem;

  .svg:not(:only-child) {
    margin-right: 0.5rem;
  }

  .svg {
    height: 1rem;
    width: 1rem;

    &__path {
      fill: var(--text--button-label);
    }
  }

  .label {
    cursor: pointer;
    pointer-events: inherit;
  }

  &--borrow {
    background-color: var(--button--borrow);
    border-color: var(--button--borrow);
    color: var(--text--button-label--emphasized);
  }

  &--supply {
    background-color: var(--button--supply);
    border-color: var(--button--supply);
    color: var(--text--button-label--emphasized);
  }

  &--transparent {
    background-color: transparent;
    border-color: transparent;
  }

  &--circle {
    width: 2.75rem;
    min-width: 2.75rem;
    max-width: 2.75rem;
    height: 2.75rem;
    min-height: 2.75rem;
    max-height: 2.75rem;

    &:disabled {
      opacity: 0.3;
    }
  }

  &--selected {
    background-color: var(--button--neutral--disabled--1);
    border: 2px solid var(--text--button-label);
    height: 2.75rem;
  }

  &--deselected {
    background-color: var(--button--neutral--disabled--1);
    border: 2px solid var(--ui--border);
    height: 2.75rem;
  }

  &--connect-wallet {
    box-shadow: var(--elevation--2);
  }

  &--rewards {
    box-shadow: var(--elevation--1);
  }

  &--connect-wallet,
  &--rewards {
    background-color: var(--ui--foreground--1);
    color: var(--ui--text--1);
    border: 0.25px solid var(--ui--border);
    font-weight: 400;
    height: $header-button-height;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: auto;

    &--disconnected {
      border-color: $green--30;
    }

    &--pending {
      background-color: var(--button--supply);
      position: relative;
      width: 7rem;

      .load-spinner {
        margin-right: 0.5rem;
      }

      &:hover {
        --background-color: #{color.adjust($green--30, $lightness: -6%)};
      }
    }

    &:hover {
      --background-color: #{color.adjust($neutral--95, $lightness: 15%)};
    }
  }

  &--small {
    padding: 0.5rem 1rem;
    min-width: unset;
  }

  &--large {
    padding: 0rem 1rem;
    height: 2.75rem;

    &.button {
      &--borrow {
        background-color: var(--button--borrow--deemphasized);
        border: 2px solid var(--text--borrow);
        color: var(--text--borrow);

        .svg__path {
          fill: var(--text--borrow);
        }

        &.button--selected {
          border: 2px solid var(--button--borrow--emphasized);
        }

        &.button--deselected {
          background-color: var(--button--neutral--disabled--1);
          border: 2px solid var(--button--borrow--deemphasized);
        }
      }

      &--supply {
        background-color: var(--button--supply--deemphasized);
        border: 2px solid var(--text--supply);
        color: var(--text--supply);

        .svg__path {
          fill: var(--text--supply);
        }

        &.button--selected {
          border: 2px solid var(--button--supply--emphasized);
        }

        &.button--deselected {
          background-color: var(--button--neutral--disabled--1);
          border: 2px solid var(--button--supply--deemphasized);
        }
      }
    }
  }

  &--x-large {
    border-radius: 100px;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.125rem;
    padding: 1.1875rem 0;
    width: 100%;
  }

  &--jumbo {
    font-size: 1.2rem;
    padding: 1.5rem;
  }

  &:disabled {
    background-color: var(--button--neutral--disabled--2);
    border: 0.5px solid var(--button--neutral--disabled--2);
    color: var(--text--button-label--disabled);
    cursor: auto;

    .label {
      cursor: auto;
      pointer-events: inherit;
    }

    .svg__path {
      fill: var(--text--button-label--disabled);
    }
  }

  &:not(:disabled) {
    &:hover {
      filter: brightness(90%);
    }

    &:active {
      filter: brightness(85%);
    }
  }

  & + & {
    margin-left: 1rem;
  }
}

.theme--light {
  .button--large {
    border-color: transparent;
  }
}
