.gov-profile {
  gap: 0.75rem;
  display: flex;
  align-items: center;

  &__display-name {
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__image {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    min-height: 2rem;

    &__svg {
      background-image: url(/public/images/default-avatar.svg);
      background-size: contain;
    }

    &__raw-image {
      background-size: 100% 100%;
      border: 0;
      border-image-width: 0;
      border-radius: 50%;
      background-blend-mode: multiply;
    }
  }

  &__link {
    transition: color 150ms ease-in;
    color: var(--text--1);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
