@use '../abstracts/variables' as *;

.hamburger {
  flex-direction: column;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  z-index: 25;

  span {
    display: block;
    margin-left: auto;
    width: 11px;
    height: 2px;
    position: relative;
    background: var(--icon--1);
    border-radius: 8px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  [class$='--active'] > &,
  &--active {
    span {
      opacity: 1;
      transform: rotate(45deg) translate(3px, 2px);
    }

    span:nth-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(1px, -2px);
    }
  }

  @media only screen and (min-width: $device--sm) {
    display: none;
  }
}
