@use '../abstracts/variables' as *;

.header-nav-button-highlight {
  position: absolute;
  background-color: var(--button--neutral);
  height: 1.6875rem;
  border-radius: 2.25rem;
  transition: 0.2s;
}

.header-nav-button-wrapper {
  margin-left: 0.6875rem;
  position: relative;
  display: flex;
  flex-direction: row;

  a {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0.375rem 0.6875rem;
  }

  .label {
    line-height: 0.87;
  }
}
