@use '../abstracts/variables' as *;

.market-overview {
  align-items: baseline;
  color: var(--text--1);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__chart {
    width: 40%;
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 1rem 0;

    &__item {
      width: 25%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.5rem;

      .asset {
        height: 1.2rem;
        width: 1.2rem;
        margin-right: 0.5rem;
      }
    }
  }

  @media (max-width: $device--sm) {
    &__stats,
    &__chart {
      flex-basis: 100%;
      width: 100%;
    }

    &__chart {
      margin-top: 2rem;
    }

    &__stats {
      &__item {
        flex-basis: 50%;
        width: 50%;
        margin: 0.5rem 0;

        &:nth-of-type(1) {
          order: -6;
        }
        &:nth-of-type(5) {
          order: -5;
        }
        &:nth-of-type(2) {
          order: -4;
        }
        &:nth-of-type(6) {
          order: -3;
        }
        &:nth-of-type(3) {
          order: -2;
        }
        &:nth-of-type(7) {
          order: -1;
        }
      }
    }
  }
}
