@use '../abstracts/variables' as *;

.masthead {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  .header-display {
    cursor: pointer;
  }
  &__balance-value {
    display: flex;
  }

  .heading--emphasized {
    display: flex;
    align-items: center;
    line-height: 52px;
    margin: 0.25rem 0;
  }

  .toggle-icon-wrapper {
    margin-right: 10px;
  }

  .toggle {
    margin-left: -25px;
    position: absolute;
    margin-right: 10px;
  }

  .button {
    &--circle {
      .svg {
        height: 1.25rem;
        width: 1.25rem;
      }
    }
  }

  &__overview-details {
    align-items: flex-start;
    display: flex;
    gap: 0.5rem;
    .meta + .meta {
      margin: 0;
    }

    &__net-rate {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0.25rem;
      margin-left: -0.25rem;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__action-buttons {
    display: flex;
    align-items: center;
  }

  .meta {
    display: flex;
    align-items: center;
    .asset {
      height: 1rem;
      margin-left: -0.5rem;
    }
  }

  .utilization-meter {
    flex-basis: 100%;
    flex-grow: 1;
    margin-top: 2.25rem;
    margin-bottom: 1.75rem;
  }

  @media (max-width: $device--sm) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: unset;
    margin-bottom: 2.5rem;

    .toggle {
      display: none;
    }

    &__action-buttons {
      flex-direction: column;
      width: 100%;
      margin-top: 1.25rem;
      order: 1;

      .button {
        position: relative;
        width: 100%;

        .svg {
          position: absolute;
          left: 1rem;
        }

        &--compare {
          display: none;
        }
      }

      .button + .button {
        margin-left: 0;
        margin-top: 0.75rem;
      }
    }

    .utilization-meter {
      width: 100%;
      margin: 2rem 0;
    }
  }
}
