@use '../abstracts/variables' as *;

.vote-proposals {
  padding: 2.5rem 2.5rem 1.25rem;
  margin-top: 0;

  .proposal-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.25rem;

    &:last-child {
      padding-bottom: 0;
    }

    &__link {
      color: var(--text--1);
      text-transform: none;
      text-decoration: none;
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__details {
      align-items: center;
      display: flex;
      font-size: 0.75rem;
      margin-top: 0.5625rem;
      gap: 0.5rem;

      &__status {
        text-transform: capitalize;
        border-radius: 1.25rem;
        padding: 0.25rem 0.5rem;
        text-align: center;
      }
      &__id {
        display: flex;
        color: var(--text--2);
        align-items: center;
        gap: 0.375rem;
      }

      .meta {
        margin: 0;
      }

      .active {
        color: var(--text--borrow--deemphasized);
        background-color: var(--button--borrow--deemphasized);
      }

      .review {
        color: var(--text--chip--review);
        background-color: var(--chip--review);
      }

      .queued,
      .passed {
        color: var(--text--supply--deemphasized);
        background-color: var(--button--supply--deemphasized);
      }
    }

    &__votes {
      display: flex;
      gap: 1.25rem;
      padding: 1.25rem 0 0.75rem;

      &__group {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.25rem;

        &__count {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          &--text {
            display: flex;
            gap: 0.375rem;
          }
        }
      }
    }

    .placeholder-content {
      &__body {
        width: 20%;
      }

      &__title {
        width: 50%;
      }
    }
  }

  .divider {
    margin: 0.75rem 0 0;
  }

  &__footer {
    margin-top: 1.25rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    width: 100%;

    &__link {
      color: var(--text--supply);
      text-transform: none;
      text-decoration: none;
    }

    .placeholder-content {
      width: 30%;
    }
  }

  &__empty {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px var(--text--3) dashed;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
  }

  @media (max-width: $device--sm) {
    padding: 2rem 2rem 1.25rem;
    margin-top: 0;

    &__header {
      margin-bottom: 0.5rem;
    }

    .proposal-item {
      &__votes {
        flex-direction: column;

        &__group {
          flex-direction: row;
          width: 100%;
          gap: 1.25rem;

          &__count {
            flex-grow: 1;

            &--text {
              display: flex;
              gap: 0.375rem;
            }
          }

          &__button {
            min-width: 46%;
          }
        }
      }
    }

    .divider {
      margin: 1.25rem 0 0;
    }
  }
}
