@use '../abstracts/variables' as *;
@use '../abstracts/mixins.scss' as mixins;

.text-input-view {
  position: relative;

  &__input {
    color: var(--text--1);
    background: transparent;
    border: none;
    transition: all 0.2s linear;
    width: 100%;
    border: 0.03125rem solid var(--ui--border);
    border-radius: 0.5rem;
    padding: 1.25rem 1.25rem 1rem;

    &--large {
      padding: 1rem 1.25rem;
      height: 6.375rem;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--text--3);
    }
  }

  &__label {
    position: absolute;
    z-index: 1;
    display: inline-block;
    top: -0.5rem;
    left: 1rem;
    padding: 0 0.325rem;
    background: var(--ui--foreground--1);
    color: var(--text--2);

    .optional {
      color: var(--text--3);
    }
  }

  &__dropdown {
    visibility: visible;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 0.015rem solid var(--ui--border);
    border-radius: 0.5rem;
    margin-top: 0.25rem;
    position: absolute;
    background-color: var(--ui--foreground--1);
    width: 100%;

    &__item {
      padding: 0.75rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.75rem;

      svg {
        width: 0.75rem;
        height: 0.75rem;
      }

      .icon-text-pair {
        flex-grow: 1;
      }

      &:hover {
        cursor: pointer;
        background: var(--ui--foreground--2);
        border-radius: 0.5rem;
      }
    }

    &.hidden {
      visibility: hidden;
    }
  }

  &__help-text {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.375rem;

    &--valid {
      &::before {
        content: ' ';
        background-color: var(--data--supply);
        height: 0.375rem;
        width: 0.375rem;
        border-radius: 1.25rem;
      }
    }

    &--invalid {
      &::before {
        content: ' ';
        background-color: var(--data--caution);
        height: 0.375rem;
        width: 0.375rem;
        border-radius: 1.25rem;
      }
    }

    &__description {
      color: var(--text--2);
      margin-top: 0 !important; // TODO(alex) we should update the var(--meta-paragraph) used elsewhere
    }
  }

  @media (max-width: $device--sm) {
    &__dropdown {
      z-index: 2;
      position: absolute;
      display: inline-block;
      bottom: 5rem;
      left: 0;
    }
  }
}
