@use '../abstracts/variables' as *;

.tooltip {
  position: fixed;
  background-color: var(--ui--foreground--1);
  box-shadow: 0 2px 8px 0 rgba(black, 0.4);
  color: var(--text--1);
  border-radius: 8px;
  z-index: 100;
  padding: 1rem 1.25rem;
  white-space: normal;
  opacity: 1;
  transition: opacity 300ms ease;

  &::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -7px;
    left: calc(50% - 7px);
    border: 8px solid var(--ui--foreground--1);
    border-color: transparent transparent var(--ui--foreground--1) var(--ui--foreground--1);
    box-shadow: -4px 4px 6px -2px rgba(black, 40%);
    transform: rotate(315deg);
  }
  &--mini {
    text-align: center;
    padding: 0.5rem;
  }
  &--hide-arrow {
    transform: translateY(20px);
    &:before {
      content: none;
    }
  }
  &--inactive {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
  }

  &--sticky {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    z-index: 100;

    &::before {
      bottom: unset;
      top: -7px;
      transform: rotate(135deg);
    }
  }

  &__header-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background: var(--text--2);
    padding: 0.3125rem;
    margin-bottom: 0.625rem;
  }

  &__close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }

  &__trigger {
    display: flex;
    gap: 0.75rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    padding: 1rem;
    margin: -1rem;
    &:hover {
      background: var(--ui--foreground--2);
    }
  }
  &__text-trigger {
    padding: 0.25rem 0;
  }
  &__header {
    margin-bottom: 0.8rem;
    &__main-value {
      margin-left: 0.7rem;
    }
  }
  &__definition-list {
    &__item:not(:last-child) {
      margin-bottom: 0.7rem;
    }
    dt,
    dl {
      float: left;
    }
    dt {
      width: 65%;
      color: var(--text--2);
    }
    dd {
      text-align: right;
    }

    .yield-bearing-asset-msg {
      color: var(--text--2);
      font-style: italic;
    }

    &--short-description {
      dt {
        width: 32%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    &__warning-message {
      margin-bottom: 1rem;
    }

    // this could be moved in separate file once we standardize this atomic component
    .label-text-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      label {
        margin-top: 0.5rem;
      }
    }
  }
}
