@use '../abstracts/variables' as *;

.transaction__date-holder {
  display: flex;
  padding: 0.125rem 0;
  position: relative;
  text-align: right;
  width: 4rem;

  &__text {
    transition: 300ms ease-in-out;
    transform: translate(0, 0);
    width: 100%;
    text-align: right;
  }

  &__external-link {
    opacity: 0;
    margin: 0.1rem 0;
    cursor: pointer;
    @media (max-width: $device--sm) {
      display: none;
    }
  }
}
