@use '../abstracts/variables' as *;

.unit-transaction,
.bulk-transaction__header {
  display: flex;
  border-radius: 0.5rem;
  cursor: pointer;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1.25rem;
  width: 100%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -0.75rem;
    bottom: -0.75rem;
    left: -1.25rem;
    right: -1.25rem;
    background: var(--ui--foreground--2);
    border-radius: 0.5rem;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover::before {
    opacity: 1;
  }

  &__info {
    display: flex;
    gap: 1.25rem;
    width: 100%;

    &__icon-holder {
      width: 2.5rem;
      height: 2.5rem;
      position: relative;

      .asset {
        width: 2.5rem;
        height: 2.5rem;
      }

      .svg {
        background-color: var(--ui--foreground--1);
        border-radius: 50%;
        height: 1rem;
        position: absolute;
        width: 1rem;
        right: -0.1rem;
        bottom: -0.1rem;
        border: 0.15rem solid var(--ui--background);
        box-sizing: content-box;
      }

      .icon {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        &--LIQUIDATE {
          background-image: url('/images/assets/trx-history_LIQUIDATE.svg');
        }

        &--COMPOUND {
          background-image: url('/images/assets/asset_COMPOUND.svg');
        }

        &--EXTERNAL {
          background-image: url('/images/assets/asset_EXTERNAL.svg');
        }
      }
    }

    .placeholder-content {
      &__title {
        width: 30%;
      }

      &__description {
        width: 20%;
      }
    }

    &__empty-icon {
      .svg {
        background: var(--button--neutral--disabled--1);
        width: 2.5rem;
        height: 2.5rem;
        padding: 30%;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: $device--sm) {
  .unit-transaction,
  .bulk-transaction__header {
    &:hover {
      .transaction__date-holder__text {
        transition: 300ms ease-in-out;
        transform: translate(-1em, 0);
      }
      .transaction__date-holder__external-link {
        opacity: 1;
      }
    }
  }
}
