.vote-transaction-modal {
  padding-top: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;

  &__icon-holder {
    width: 4rem;
    height: 4rem;
    border-radius: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    background: var(--button--neutral);
    position: relative;

    .overlay-icon {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--icon--supply);
      width: 1.5rem;
      height: 1.55rem;
      border-radius: 1.5rem;
      right: -0.125rem;
      bottom: -0.125rem;
      border: 2px solid var(--ui--foreground--2);

      .svg {
        fill: var(--ui--foreground--2);
        width: 0.825rem;
        height: 0.825rem;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__description {
      color: var(--text--2);
    }
  }

  .link {
    width: 100%;
  }
}
