@use '../abstracts/variables' as *;

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 67.75em;
}

.page {
  flex-grow: 1;
  padding-bottom: 3.75rem;
}

.hero-panel {
  margin: 2.5rem 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;

  &--6 {
    grid-template-columns: repeat(6, 1fr);
  }

  &--7 {
    grid-template-columns: repeat(7, 1fr);
  }
}

.grid-column--1 {
  grid-column: span 1;
}

.grid-column--2 {
  grid-column: span 2;
}

.grid-column--4 {
  grid-column: span 4;
}

.grid-column--5 {
  grid-column: span 5;
}

.grid-column--6 {
  grid-column: span 6;
}

.grid-column--7 {
  grid-column: span 7;
}

.grid-column--8 {
  grid-column: span 8;
}

.grid-column--9 {
  grid-column: span 9;
}

.grid-column--10 {
  grid-column: span 10;
}

.grid-column--12 {
  grid-column: span 12;
}

@media (max-width: $device--sm) {
  #root {
    width: 100vw;
  }

  .page,
  .container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }

  .grid-column--1,
  .grid-column--2,
  .grid-column--4,
  .grid-column--5,
  .grid-column--6,
  .grid-column--7,
  .grid-column--10,
  .grid-column--12 {
    grid-column: span 6;
  }
}
